.col-50.col-mobile-100{style: "float:left; height:220px; padding:10px 5px 10px 5px; "}
  .slotbox{style: "position:relative; overflow:hidden; width: 100%; height:100%; background-position: 0% 50%"}
    .greybox{style: "background-color: rgba(0,0,0,0); color:white; width:100%; padding:10px; font-size:24px; text-align:left; font-family: 'Gotham 4r', sans-serif;"}
      = row_name
    .thelinks{style: "padding: 10px; background-color:rgba(255,255,255,0.8)"}
      %p
        %a{href: entry[:param1_s]}
          Try the Hour of Code. 100M served
      %p
        %a{href: entry[:param1_s]}
          Code Studio
      %p
        %a{href: entry[:param1_s]}
          Find a local class or workshop
      %p
        %a{href: entry[:param1_s]}
          Other places to learn
